body {
  background-color: #070724;
  color: white;
}

#navbar .content-navigator {
  display: flex;
  justify-content: space-around;
  padding: 22px 0;
}
@media (min-width: 640px) {
  #navbar .content-navigator {
    display: none;
  }
}
#navbar .content-navigator .content-nav-link {
  display: flex;
  position: relative;
}
#navbar .navbar-overlay {
  position: absolute;
  z-index: 100;
  background-color: #070724;
  width: 100%;
  top: 80px;
}
@media (min-width: 640px) {
  #navbar .navbar-overlay {
    display: none;
  }
}
#navbar .navbar-overlay .nav-link-dropdown {
  display: flex;
  justify-content: space-between;
  padding: 24px 0px;
  margin-left: 32px;
  margin-right: 48px;
  cursor: pointer;
}
#navbar .navbar-overlay .circle-planet {
  display: flex;
  gap: 24px;
  align-items: center;
}
#navbar .navbar-overlay .circle-mercury {
  background-color: #419ebb;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
#navbar .navbar-overlay .circle-venus {
  background-color: #eda249;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
#navbar .navbar-overlay .circle-earth {
  background-color: #6d2ed5;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
#navbar .navbar-overlay .circle-mars {
  background-color: #d14c32;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
#navbar .navbar-overlay .circle-jupiter {
  background-color: #d83a34;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
#navbar .navbar-overlay .circle-saturn {
  background-color: #cd5120;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
#navbar .navbar-overlay .circle-uranus {
  background-color: #1ec1a2;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
#navbar .navbar-overlay .circle-neptune {
  background-color: #2d68f0;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
#navbar .main-navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 64px;
}
@media (max-width: 640px) {
  #navbar .main-navbar {
    flex-direction: row;
    padding: 20px 40px 20px 32px;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  #navbar .main-navbar {
    margin-top: 12px;
    flex-direction: column;
    gap: 52px;
    text-align: center;
    padding: 20px 24px;
  }
}
#navbar .main-navbar .hamburger-menu {
  cursor: pointer;
  margin: auto 0;
}
@media (min-width: 640px) {
  #navbar .main-navbar .hamburger-menu {
    display: none;
  }
}
#navbar .main-navbar .nav-link-container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-size: 14px;
}
@media (max-width: 640px) {
  #navbar .main-navbar .nav-link-container {
    display: none;
  }
}
@media (max-width: 1024px) {
  #navbar .main-navbar .nav-link-container {
    margin: 0 auto;
    font-size: 12px;
  }
}
#navbar .nav-link {
  color: white;
  opacity: 0.5;
  transition: all 0.1s linear;
}
#navbar .nav-link:hover {
  color: white;
  opacity: 1;
}
#navbar .nav-link-active {
  color: white;
  opacity: 1;
}
#navbar .nav-link-border {
  position: absolute;
  border: 1px solid;
  z-index: 5;
  top: -32px;
  left: -10px;
  opacity: 0;
  transition: all 0.25s linear;
}
@media (max-width: 1024px) {
  #navbar .nav-link-border {
    top: 32px;
  }
}
#navbar .nav-link-active-mercury {
  border-color: #419ebb;
  opacity: 1;
}
#navbar .nav-link-active-venus {
  border-color: #eda249;
  opacity: 1;
}
#navbar .nav-link-active-earth {
  border-color: #6d2ed5;
  opacity: 1;
}
#navbar .nav-link-active-mars {
  border-color: #d14c32;
  opacity: 1;
}
#navbar .nav-link-active-jupiter {
  border-color: #d83a34;
  opacity: 1;
}
#navbar .nav-link-active-saturn {
  border-color: #cd5120;
  opacity: 1;
}
#navbar .nav-link-active-uranus {
  border-color: #1ec1a2;
  opacity: 1;
}
#navbar .nav-link-active-neptune {
  border-color: #2d68f0;
  opacity: 1;
}

/*# sourceMappingURL=navbar.css.map */
