@import "./colors.scss";
@import "./responsive.scss";

.button-wrapper {
  .button {
    border: 1px solid $bright-grey;
    transition: all 0.25s linear;
    display: flex;
    padding: 20px 32px;
    cursor: pointer;
    font-size: 14px;

    @media (max-width: $medium) {
      padding: 16px 28px;
    }
  }

  .button:hover {
    background-color: $bright-grey;
    scale: 105%;
  }

  .button-active-mercury {
    background-color: $mercury;
  }

  .button-active-venus {
    background-color: $venus;
  }

  .button-active-earth {
    background-color: $earth;
  }

  .button-active-mars {
    background-color: $mars;
  }

  .button-active-jupiter {
    background-color: $jupiter;
  }

  .button-active-saturn {
    background-color: $saturn;
  }

  .button-active-uranus {
    background-color: $uranus;
  }

  .button-active-neptune {
    background-color: $neptune;
  }
}
