$white: #ffff;
$background: #070724;
$bright-grey: #393950;
$regent-grey: #90909d;
$mercury: #419ebb;
$venus: #eda249;
$earth: #6d2ed5;
$mars: #d14c32;
$jupiter: #d83a34;
$saturn: #cd5120;
$uranus: #1ec1a2;
$neptune: #2d68f0;

body {
  background-color: $background;
  color: $white;
}
