@import "./responsive.scss";

#main {
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: 40px;
  max-width: 1280px;
  width: 80%;
  margin: 90px auto 60px;

  @media (max-width: $small) {
    display: block;
    width: 85%;
    margin: 60px auto 1px;
  }

  @media (min-width: $small) and (max-width: $medium) {
    grid-template-columns: 2fr 2fr;
    height: 400px;
    margin: 90px auto 300px;
    width: 90%;
  }

  .image-wrapper {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (max-width: $small) {
      height: 250px;
      margin-bottom: 40px;
    }

    @media (min-width: $small) and (max-width: $medium) {
      grid-column: 1/4;
      height: 350px;
      margin-bottom: 60px;
    }

    .image-geology {
      width: 40%;
      height: 40%;
      position: absolute;
      bottom: -30px;
    }
  }

  .content-wrapper {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $small) {
      display: block;
      text-align: center;
      height: auto;
    }

    @media (min-width: $small) and (max-width: $medium) {
      display: grid;
      grid-column: 1/4;
      grid-template-columns: 2fr 2fr;
      gap: 60px;
    }

    .text-wrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding-bottom: 24px;

      .planet-name {
        display: flex;
        font-size: 36px;

        @media (max-width: $small) {
          font-size: 18px;
          margin: 24px auto 0;
        }

        @media (min-width: $small) and (max-width: $medium) {
          font-size: 20px;
        }
      }

      .description {
        text-align: justify;
        line-height: 1.5rem;
        font-size: 18px;

        @media (max-width: $small) {
          text-align: center;
          font-size: 16px;
        }

        @media (min-width: $small) and (max-width: $medium) {
          line-height: 1.25rem;
          font-size: 16px;
        }
      }
    }

    .button-wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;

      @media (max-width: $small) {
        display: none;
      }
    }
  }
}
